* {
    background-color: #18a1cb;
    margin: auto;
}

.whitetext {
    color: white;
}

.blacktext {
    color: black;
}

#ordinances {
    width: 25%;
    text-align: left;
}

#wrapper {
    text-align: center;
}

#quote {
    font-size: 2vw;
    width: 20%;
}

#wrapper header h1:hover {
    color: black;
}

#russel {
    width: 15vw;
}